

.nav-logo{
  height: 50px;
  border-radius: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #d1d1d1;

  &.active{
    color: orange;
  }
}
