

.nav-logo{
  height: 50px;
  border-radius: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dropdown-toggle, .dropdown-item{
  cursor: pointer;
}

.nav-item:hover{
  background-color: #3a6b95;
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #d1d1d1;

  &.active{
    color: orange;
  }
}


.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}

.dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
