<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"><img class="nav-logo" src="assets/images/Frag.gif"></a>


    <nav class="my-2 my-md-0 me-md-3 text-uppercase">
      <a class="p-2" [routerLink]="['/category']" routerLinkActive="active">Category</a>
      <a class="p-2" >Link</a>

    </nav>

    <div class="collapse navbar-collapse my-2" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown" dropdown>
          <a class="p-2 dropdown-toggle  text-uppercase" dropdownToggle>
            Dropdown
          </a>
          <ul class="dropdown-menu mt-3 " *dropdownMenu>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

      </ul>
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
      <ul class="navbar-nav" *ngIf="loggedIn()">
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle>
            {{authService.decodedToken!.unique_name | titlecase}}
          </a>
          <ul class="dropdown-menu mt-3" *dropdownMenu>
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>


      <form class="d-flex" role="search" *ngIf="!loggedIn()">
        <a class="btn btn-outline-success me-2" routerLink="/account/login">Login</a>
        <a class="btn btn-outline-success" routerLink="/account/register">Register</a>
      </form>

    </div>
  </div>
</nav>
