

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="">{{user.displayName}}</h1>
    </div>
    <div class="col-sm-8">

    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../assets/user.png'}}" alt="{{user.userName}}">
        <div class="card-body text-start">

          <div>
            <strong>Age: </strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active: </strong>
            <p>{{user.lastActive}} </p>
          </div>
          <div>
            <strong>Member Since: </strong>
            <p>{{user.createdTime | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <button type="button"  class="btn btn-success w-100" (click)="updateUser()">Save Changes</button>
        </div>

      </div>

    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">

            <form class="mt-2">
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Name" name="name" [(ngModel)]="user.displayName"/>
                <label class="form__label">Display Name</label>
              </div>

              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email" [(ngModel)]="user.email"/>
                <label class="form__label">Email</label>
              </div>



            </form>

          </tab>
          <tab heading="Photos">
            <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
          </tab>
        </tabset>

      </div>
    </div>

  </div>

</div>
