

<div class="form-signin w-100 m-auto text-center mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <img class="mb-4" src="../../assets/images/Frag.gif" alt="" width="88" height="80">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email"
             class="form-control"
             [ngClass]="{'is-invalid' : loginForm.get('username')!.errors && loginForm.get('username')!.touched}"
             formControlName="username"
             placeholder="name@example.com">
      <label>Username</label>
    </div>
    <div class="form-floating mt-2">
      <input type="password"
             class="form-control"
             [ngClass]="{'is-invalid' : loginForm.get('password')!.errors && loginForm.get('password')!.touched}"
             formControlName="password"
             placeholder="Password">
      <label>Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2027</p>
  </form>

</div>

